PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=Your Access Token Secret Here
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=Your Refresh Token Secret Here
REFRESH_TOKEN_EXPIRY=7d
MONGODB_URI=mongodb+srv://as7073085_db_user:<Password>@cluster0.zeg0lsa.mongodb.net